---
import Layout from "../layouts/Layout.astro";
import Box from "../layouts/Box.astro";
---

<Layout title="404">
    <Box addStyle="bg-black text-white w-full h-screen">
        <h1 class="text-5xl ml-5">wrong way (404)</h1>
        <span class="m-5 h-full"
            >got deviated ? - <a
                href="/"
                class="rounded bg-white text-black underline p-px"
                >here is the route</a
            ></span
        >
    </Box>
</Layout>
