---
interface Props {
    title: string;
    to: string;
}

const { title, to } = Astro.props;
---

<a href={to}>
    <div class="border-2 border-white rounded p-2 my-1">
        <h2
            class="font-normal hover:font-bold hover:uppercase leading-tight transition-all"
        >
            {title}
        </h2>
    </div>
</a>
